.hero-banner {
  position: relative;
  width: 100%;
  height: 520px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.1)
  );
  color: #fff;
  position: absolute;
}


.overlay h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.overlay p {
  font-size: 18px;
  margin-bottom: 20px;
  max-width: 500px;
}

.overlay button {
  width: 150px;
  padding: 12px 28px;
  font-size: 14px;
  background: #d4a017;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.overlay button:hover {
  background: #b89113;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #c9a24d;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-banner {
    height: 380px;
  }
  .overlay {
    padding: 30px;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    align-items: center;
  }

  .overlay h1 {
    font-size: 28px;
  }
}
    .overlay p {
        font-size: 16px;
    }
    
    .overlay button {
        width: 120px;
        padding: 10px;
        font-size: 14px;
    }

